*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box__list {
    display: flex;
    flex-wrap: wrap;

    width: 300px;
    margin: 60px auto;
}

.block {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
}

.block__white {
    background-color: red;
}

.bottom {
    border: none;
}